@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #171717;
}

@theme inline {

  --font-mulish: var(--mulish-font);
}

body {
  color: var(--color-foreground);
  background-color: #FBFBFB;
  font-family: var(--font-mulish);
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
