@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #171717;
}

@theme inline {
  --font-mulish: var(--instrument-sens);
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  color: #171717;
  flex-direction: column;
  background-color: #fbfbfb;
  font-family: var(--font-mulish);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
